.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--surface-color);
  color: var(--text-primary-color);
}

.app-container {
  display: flex;

}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 1.5rem;

}

/* Responsive styles */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
  
  .main-content {
    flex: none;

  }
}
